/* General things */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #727272;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  /* margin-bottom: 60px; */
  color: #000000;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 38px;
  color: #000000;
}

p {
  font-size: 16px;
  color: #727272;
}

button {
  background-color: #34547a;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.design__text-button {
  padding: 25px 41px;
}

button:hover {
  background-color: #5e94c1;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}
/* /General things */

/* Header */
.header {
  background: #eeeff1;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Revalia", cursive;
  font-size: 48px;
  color: #34547a;
  margin-top: 57px;
  text-transform: uppercase;
  line-height: 1.25;
}
/* /Header */

/* Navigation  */
.header-nav {
  margin-top: 80px;
  padding-right: 45px;
}

.header-nav__link {
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  margin-right: 42px;
}

.header-nav__link--active {
  font-weight: 500;
  color: #34547a;
}
/* /Navigation */

/* Design */
.design {
  background: #eeeff1;
}

.design__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding-top: 164px;
  padding-bottom: 145px;
}

.design__image {
  /* margin-right: 143px; */
  margin-top: 30px;
}

.design__image img {
  display: block;
  max-width: 100%;
  padding-left: 85px;
}

.design__text {
  max-width: 540px;
}

.design__text p,
h1 {
  margin-bottom: 48px;
}
/* /Design */

/* About me */
.about-me {
  text-align: center;
  padding-top: 119px;
  padding-bottom: 100px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 572px;
  margin: 0 auto;
}
/* /About me */

/* Numbers */
.numbers {
  background: #34547a;
}

.numbers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
}

.numbers__item {
  display: flex;
}

.numbers-item__text h3 {
  font-weight: 500;
  font-size: 21px;
}

.numbers-item__text {
  margin-left: 20px;
}

.numbers-item__text p {
  color: #fff;
}
/* /Numbers */

/* Skills */
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.skills-info {
  justify-self: right;
  width: 50%;
}

.skills-info__skills p {
  margin-bottom: 15px;
}

.skills__photo {
  width: 50%;
}

.skills__photo img {
  display: block;
  width: 100%;
  max-width: 555px;
}

.skills-list__item {
  position: relative;
  background: #c4c4c4;
  max-width: 445px;
  height: 4px;
  margin-bottom: 30px;
}

.skills-list__item::before {
  content: "";
  position: absolute;
  background: #34547a;
  top: 0;
  left: 0;
  width: 80%;
  height: 4px;
}
/* /Skills */

/* Works */
.works {
  background: #eeeff1;
  text-align: center;
}

.works__wrapper {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.works__wrapper h2 {
  max-width: 572px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.works__wrapper p {
  max-width: 572px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.works-content__video {
  position: relative;
}

.works-video__bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.works-video img {
  display: block;
  width: 100%;
}

.works-video__bg img {
  width: 10%;
  display: block;
  cursor: pointer;
}

/* Projects */
.projects-grid__row {
  margin: 0 auto;
  display: flex;
  /* flex-direction: row;  */
  flex-wrap: wrap;
  padding-top: 28px;
  padding-bottom: 28px;
}

.projects-grid__row-item {
  position: relative;
  width: 25%;
}

.projects-grid__row-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(52, 84, 122, 0.8);
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-content: center;
}

.projects-grid__row-item-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.projects-grid__row-item img {
  width: 100%;
  display: block;
  height: auto;
}
.projects-grid__row-item-overlay img {
  width: 25%;
}

/* /Projects */

/* Offer */
.offer {
  background: #eeeff1;
}

.offer p {
  margin-bottom: 60px;
}
.offer__wrapper {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.offer__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.offer__message {
  grid-column: 1/3;
}

.offer textarea {
  background: #ffffff;
  font-size: 14px;
  color: #5f5d5d;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 18px;
  resize: none;
  margin-bottom: 50px;
}

.offer input {
  background: #ffffff;
  font-size: 14px;
  color: #5f5d5d;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

.offer button {
  padding: 20px 19px 20px 19px;
}
/* /Offer */

/* Footer */
footer {
  background: #34547a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.footer__author {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
}

.footer__author h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
}

.footer__copyrights {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer__links a {
  margin-left: 22px;
}
/* /Footer */

/* Media */

@media (max-width: 1279px) {
  nav {
    display: none;
  }
}

@media (max-width: 1279px) {
  .design__wrapper {
    grid-template-columns: 1fr;
    justify-items: start;
    padding-top: 160px;
    padding-bottom: 146px;
  }
}

@media (max-width: 1279px) {
  .design__image {
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1279px) {
  .design__text {
    margin: 0 auto;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .about-me {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 540px;
  }
}

@media (max-width: 1279px) {
  .numbers__item {
    margin-bottom: 89px;
  }
}

@media (max-width: 1279px) {
  .skills {
    flex-direction: column-reverse;
    padding-top: 0;
  }
}

@media (max-width: 1279px) {
  .skills-info {
    width: 100%;
    max-width: 540px;
    padding-left: 24px;
    padding-right: 24px;
    justify-self: center;
    margin: 0 auto;
  }
  .skills-info h2 {
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .skills__photo {
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 100%;
  }
}

@media (max-width: 1279px) {
  .skills__photo img {
    margin: 0 auto;
  }
}

@media (max-width: 1279px) {
  .offer__wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    max-width: 540px;
  }
}

@media (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .offer__form {
    grid-template-columns: 1fr;
  }
  .offer__message {
    grid-column: 1 / 2;
  }
}

@media (max-width: 480px) {
  .design__image img {
    display: block;
    max-width: 100%;
    padding-left: 0px;
  }
}

/* iphone x */

@media (max-width: 375px) {
  h2 {
    font-weight: 500;
  }

  .wrapper {
    padding-left: 19px;
    padding-right: 19px;
  }

  .header__logo {
    margin-top: 22px;
  }
  
  .design__wrapper {
    padding-top: 57px;
    padding-bottom: 95px;
  }
  .design__text {
    padding-left: 17px;
    padding-right: 17px;
  }
  .design__text h1 {
    margin-bottom: 32px;
    font-size: 36px;
  }

  .about-me {
    padding-top: 91px;
    padding-bottom: 82px;
  }

  .about-me h2 {
    margin-bottom: 30px;
  }

  .numbers__item-text p {
    padding-right: 19px;
  }

  .numbers__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 0px;
  }
  .numbers__item {
    margin-bottom: 70px;
  }

  .skills {
    padding-bottom: 80px;
  }

  .works__wrapper {
    padding-bottom: 90px;
    padding-top: 90px;
  }
  

  .works-video__bg img {
    width: 25%;
  }

  .projects-grid__row-item {
    width: 50%;
  }

  .offer__wrapper {
    padding-bottom: 100px;
    padding-top: 90px;
  }
  .offer h2 {
    margin-bottom: 34px;
  }
  .offer p {
    margin-bottom: 48px;
  }
  .footer__copyrights {
    margin-bottom: 33px;
  }
  .footer__author h3 {
    margin-bottom: 20px;
  }
  .footer__links a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
/* end */
/* /media */
